body {
  /* color: #40584F; */
  background-color: #E4F9F5;
  text-align: center;
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 0px;
}
.my_img{
  margin-top: 50px;
  width:200px;
  height: 200px;
}
.top-cloud{
  position: absolute;
  top:220px;
  right:350px;
}
.bottom-cloud{
  position: absolute;
  top:500px;
  left:300px;
}

h1{
  color: #132743;
  font-size: 4rem;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0;
}
h2{
  font-family: 'Kalam', cursive;
  margin-top: 0;
  font-size: 2rem;
  color: #006a71;
  margin-bottom: 0;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.class1{
  color: #00bcd4;
  margin-bottom: 0px;
}
strong{
  text-decoration: underline;
}

.container-2{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  margin-bottom: 100px;
}
#id2{
  width: 30%;
  margin: auto auto 30px;
}
#id3{
  width: 40%;
  margin: auto;
  line-height: 1.5;
}

.container-3{
  margin-bottom: 20px;
  font-size: 1.15rem;
}
.container-4{
  margin-bottom: 50px;
  font-size: 1.2rem;
}

.Hobbies{
    margin-bottom: 100px;
}
.hobbies-row-1{
  width: 50%;
  margin: 20px auto 100px auto;
  text-align: left;
  line-height: 3.5;
}
.hobbies-row-2{
  width: 50%;
  padding-top: 50px;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 3.5;
}
.travel-img{
  width: 210px;
  height: 250px;
  border-radius: 50%;
  margin-right: 30px;
  float: left;
}
.movie-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 30px;
  float:right
}
.txt{
  margin-top: 0px;
}

.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.coding{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 30px;
  float: left;
  /* clear:left;  is used as anti float */
}

.Development{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 30px;
  float:right
}

.container-6{
  margin-top: 130px;
  margin-bottom: 50px;
  font-size: 1.5rem;
}
.container-7{
  margin-bottom: 50px;
  font-size: 1.5rem;
}
.container-8{

  padding-top: 30px;
  font-size: 1.5rem;
  background-color: skyblue;
}
.container-8 img{
  width: 40px;
  height: 40px;
}
#id1{
  margin-top: 0;
}
table{
  margin: auto;
}

hr{
  border-color: #a6a6a4;
  border-width: 3px;
  width: 10%;
  height: 1px;
  margin: 50px auto;
  border-style: solid none none;
  /* border-style: none; */
  border-top-style: dotted;
  text-align:left;
}

a{
  color:blue;
}

.footer-link{
  margin: 5px;
}

.gif{
 width:300px;
 height: 200px;
}
.gif0{
 heigh:300px;
}

.gif1{
 width: 400px;
 height:350px;
 margin-bottom: 50px;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
  background-color:#019ad2;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
  background-color:#ff5bb0;
}
.myButton:active {
	position:relative;
	top:1px;
}

.txt1{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #006a71;
  font-family: 'Kalam', cursive;
}
.thanku{
  font-family: 'Kalam' cursive;
  margin-top: 0;
  font-size: 2rem;
  color: #e11d74;
  margin-bottom: 0;
}
